<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="web.dao.face.CommunityDao">
	
	<!--수정해야댐 ㅜ -->
	<select id="selectCafeReview" resultType="FreeBoard" parameterType="hashmap">
	
		SELECT * FROM freeboard
		ORDER BY freeboardno DESC
	
	</select>
	
	<select id="selectCafeReviewCommentListByCafeReviewNo" resultType="CafeRevComm" parameterType="CafeRev">
	
		SELECT * FROM caferevcomm
		<where>
			AND revNo = #{revNo }
		</where>
		ORDER BY caferevcommno desc
		
	</select>
	
	<select id="selectCafeReviewInfo" resultType="CafeRev" parameterType="CafeRev">
	
		SELECT * FROM caferev
		<where>
			AND revNo = #{revNo }
		</where>
	
	</select>
	
	<select id="selectCafeNameByCafeNo" resultType="string" parameterType="Cafe">
		SELECT cafeName FROM cafe
		<where>
			AND cafeNo = #{cafeNo }
		</where>
	</select>

	<select id="getFreeBoardTotalCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM FREEBOARD
		<where>
			<if test='category != "N" '>
				AND FREEBOARDCATEGORY = #{category}
			</if>
			<if test='search != "N" '>
				AND upper(FREEBOARDTITLE) LIKE '%'||upper(#{search})||'%'
			</if>
		</where>
	</select>
	
	<select id="selectFreeBoardListAll" parameterType="hashmap" resultType="FreeBoard">
		SELECT FREEBOARDNO,USERNO,FREEBOARDCATEGORY,FREEBOARDTITLE,FREEBOARDCONTENT,FREEBOARDHIT,FREEBOARDWRITEDATE,FREEIMGNO  
		FROM (
			SELECT rownum r,a.* FROM(
				SELECT * FROM FREEBOARD 
				WHERE upper(FREEBOARDTITLE) LIKE '%'||upper(#{search})||'%'
				<if test='category != "N" '>
					AND FREEBOARDCATEGORY = #{category}
				</if>
				ORDER BY FREEBOARDNO DESC
				)a
			)
		WHERE r BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="selectFreeBoardByFreeBoardNo" parameterType="FreeBoard" resultType="FreeBoard">
		SELECT * FROM FREEBOARD
		WHERE freeboardno = #{freeBoardNo}
	</select>
	
	<select id="selectMemberByFreeBoardNo" parameterType="FreeBoard">
		SELECT * FROM MEMBER
		WHERE userno = #{userNo}
	</select>
	<delete id="deleteFreeBoardByFreeBoardNo" parameterType="FreeBoard">
		DELETE FROM freeboard
		WHERE freeboardno = #{freeBoardNo}
	</delete>
	
	<update id="updateFreeBoardHitByFreeBoardNo" parameterType="FreeBoard">
		UPDATE freeboard
		SET
			freeboardhit = freeboardhit+1
		WHERE freeboardno = #{freeBoardNo}
	</update>
	
</mapper>





















