<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.CommunityDao">

	<select id="selectCafeReview" resultType="CafeRev" parameterType="hashmap">
<!-- 		SELECT revno, cr.cafeno, cr.userno, usernick, revcontent, revhit, revdate, revsp, cafename, cafeloc -->
<!-- 		FROM caferev cr -->
<!-- 		JOIN cafe c ON cr.cafeno = c.cafeno -->
<!-- 		JOIN member m ON cr.userno = m.userno -->

<!-- 		SELECT revno, cr.cafeno, cr.userno, usernick, revcontent, revhit, revdate, revsp, cafename, cafeloc -->
<!-- 			FROM ( -->
<!-- 				SELECT rownum r, a.* FROM ( -->
<!-- 					SELECT * FROM caferev -->
<!-- 					ORDER BY revno DESC) a -->
<!-- 				) cr -->
			
<!-- 		JOIN cafe c ON cr.cafeno = c.cafeno -->
<!-- 		JOIN member m ON cr.userno = m.userno -->
<!-- 		<where> -->
<!-- 		<if test="search != null"> -->
<!-- 			AND upper(cafename) LIKE '%'||upper(#{search})||'%' -->
<!-- 		</if> -->
<!-- 		<if test="category != null"> -->
<!-- 			AND cafeloc = #{category } -->
<!-- 		</if> -->
<!-- 			AND r BETWEEN #{paging.startNo} AND #{paging.endNo} -->
<!-- 		</where> -->
		
		SELECT * 
			FROM (
			    SELECT rownum r, a.* 
			    FROM (
			        SELECT revno, cr.cafeno, cr.userno, usernick, revcontent, revhit, revdate, revsp, cafename, cafeloc
			        FROM cafeRev cr
			        JOIN cafe c ON cr.cafeno = c.cafeno
			        JOIN member m ON cr.userno = m.userno
			       	<where>
						<if test="search != null">
							AND upper(cafename) LIKE '%'||upper(#{search})||'%'
						</if>
						<if test="category != null and category != '전체'">
							AND cafeloc = #{category }
						</if>
			       	</where>
			       	<choose>
			       		<when test='order == "recent"'>
			       			ORDER BY revno DESC
			       		</when>
			       		<when test='order == "star"'>
 							ORDER BY revsp DESC, revno DESC
			       		</when>
			       		<otherwise>
			       			ORDER BY revno DESC
			       		</otherwise>
			       	</choose>
			    ) a
			) 
		<where>
			AND r BETWEEN #{paging.startNo } AND #{paging.endNo }
		</where>
		
	</select>
	
	<select id="selectCafeReviewCommentListByCafeReviewNo" resultType="CafeRevComm" parameterType="CafeRev">
	
		SELECT caferevcommno, revno, c.userno, cafecommcont , cafecommtag , cafecommdate, usernick
		FROM caferevcomm c
		JOIN MEMBER m ON c.userno = m.userno
		<where>
			AND revNo = #{revNo }
		</where>
		ORDER BY caferevcommno
		
	</select>
	
	<select id="selectCafeReviewInfo" resultType="CafeRev" parameterType="CafeRev">

		SELECT revno, cr.cafeno, userno, revcontent, revhit, revdate, revsp, cafename, cafeloc
		FROM caferev cr
		JOIN cafe c ON cr.cafeno = c.cafeno
		<where>
			AND revno = #{revNo }
		</where>
	
	</select>
	
	<select id="selectCafeNameByCafeNo" resultType="string" parameterType="Cafe">
		SELECT cafeName FROM cafe
		<where>
			AND cafeNo = #{cafeNo }
		</where>
	</select>

	<select id="getFreeBoardTotalCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM FREEBOARD
		<where>
			<if test='category != "N" '>
				AND FREEBOARDCATEGORY = #{category}
			</if>
			<if test='search != "N" '>
				<if test='searchType == "title"'>
				AND upper(FREEBOARDTITLE) LIKE '%'||upper(#{search})||'%'
				</if>
				<if test='searchType == "content"'>
				AND upper(FREEBOARDCONTENT) LIKE '%'||upper(#{search})||'%'
				</if>
				<if test='searchType == "titlecontent"'>
				AND (upper(FREEBOARDTITLE) LIKE '%'||upper(#{search})||'%' OR upper(FREEBOARDCONTENT) LIKE '%'||upper(#{search})||'%')
				</if>
			</if>
		</where>
	</select>
	
	<select id="selectFreeBoardListAll" parameterType="hashmap" resultType="FreeBoard">
		SELECT FREEBOARDNO,USERNO,FREEBOARDCATEGORY,FREEBOARDTITLE,FREEBOARDCONTENT,FREEBOARDHIT,FREEBOARDWRITEDATE,FREEIMGNO  
		FROM (
			SELECT rownum rnum,a.* FROM(
				SELECT fb.*, (SELECT count(*) FROM FREEBOARDRECOMMEND b WHERE fb.FREEBOARDNO = b.freeboardno ) r,(SELECT count(*) FROM FREEBOARDCOMMENT fc WHERE fb.FREEBOARDNO = fc.freeboardno) c FROM FREEBOARD fb
				<where>
					<if test='searchType == "title"'>
						AND upper(FREEBOARDTITLE) LIKE '%'||upper(#{search})||'%'
					</if>
					<if test='searchType == "content"'>
						AND upper(FREEBOARDCONTENT) LIKE '%'||upper(#{search})||'%'
					</if>
					<if test='searchType == "titlecontent"'>
						AND (upper(FREEBOARDTITLE) LIKE '%'||upper(#{search})||'%' OR upper(FREEBOARDCONTENT) LIKE '%'||upper(#{search})||'%')
					</if>
					<if test='category != "N" '>
						AND FREEBOARDCATEGORY = #{category}
					</if>
				</where>
				<if test='order == "W"'>
					ORDER BY fb.FREEBOARDNO DESC
				</if>
				<if test='order == "R"'>
					ORDER BY R DESC,fb.FREEBOARDNO DESC
				</if>
				<if test='order == "C"'>
					ORDER BY C DESC,fb.FREEBOARDNO DESC
				</if>
				)a
			)
		WHERE rnum BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="selectFreeBoardByFreeBoardNo" parameterType="FreeBoard" resultType="FreeBoard">
		SELECT * FROM FREEBOARD
		WHERE freeboardno = #{freeBoardNo}
	</select>
	
	<select id="selectMemberByFreeBoardNo" parameterType="FreeBoard">
		SELECT * FROM MEMBER
		WHERE userno = #{userNo}
	</select>
	<delete id="deleteFreeBoardByFreeBoardNo" parameterType="FreeBoard">
		DELETE FROM freeboard
		WHERE freeboardno = #{freeBoardNo}
	</delete>
	
	<update id="updateFreeBoardHitByFreeBoardNo" parameterType="FreeBoard">
		UPDATE freeboard
		SET
			freeboardhit = freeboardhit+1
		WHERE freeboardno = #{freeBoardNo}
	</update>
	
	<select id="selectFreeBoardCommentByFreeBoardNo" parameterType="FreeBoard" resultType="FreeBoardComment">
		SELECT * FROM FREEBOARDCOMMENT
		WHERE freeboardno = #{freeBoardNo}
	</select>
	
	<select id="selectUsernoByUserid" resultType="int" parameterType="string">
		SELECT userno FROM member
		<where>
			userId = #{userId }
		</where>
	</select>
	
	<insert id="insertCafeReview" parameterType="CafeRev" >
		INSERT INTO caferev (revNo, cafeNo, userNo, revContent, revHit, revDate, revsp)
		VALUES ( revNo_seq.nextval , #{cafeNo }, #{userNo }, #{revContent }, 0, sysdate, #{revsp } )
	</insert>
	
	<insert id="insertFreeBoardComment" parameterType="FreeBoardComment">
		INSERT INTO FREEBOARDCOMMENT f (commentNO,freeboardno,freeboardcommtag,usernick,commentcontent,userno,freeboardcommnicktag)
		VALUES (freeboardcomment_seq.nextval,#{freeBoardNo},#{freeBoardCommTag},#{userNick},#{commentContent},#{userNo},#{freeBoardCommNickTag})
	</insert>
	<select id="selectMemberByUserID">
		SELECT * FROM MEMBER
		WHERE userid=#{userId}
	</select>
	
	<delete id="deleteFreeBoardCommentByFreeBoardCommentNo" parameterType="FreeBoardComment">
		DELETE FROM FREEBOARDCOMMENT
		WHERE commentno = #{commentNo}
	</delete>
	
	<delete id="deleteFreeBoardCommentByFreeBoardCommTag" parameterType="FreeBoardComment">
		DELETE FROM FREEBOARDCOMMENT
		WHERE freeBoardCommTag = #{commentNo}
	</delete>
	
	<select id="selectFreeBoardCommentCnt" parameterType="FreeBoard">
		SELECT count(*) FROM freeboardcomment
		WHERE freeboardno = #{freeBoardNo}
	</select>
	
	<insert id="insertFreeBoard" parameterType="FreeBoard">
		INSERT INTO FREEBOARD(freeBoardNo, userNo,freeBoardCategory,freeBoardTitle,freeBoardContent,freeBoardHit,freeboardmapx,freeboardmapy)
		VALUES(FreeBoard_seq.NEXTVAL,#{userNo},#{freeBoardCategory},#{freeBoardTitle},#{freeBoardContent},0,#{freeBoardMapX},#{freeBoardMapY})
	</insert>
	
	<update id="updateFreeBoardByFreeBoardNo" parameterType="FreeBoard">
		UPDATE freeboard
		SET
			freeboardtitle = #{freeBoardTitle},
			freeboardcontent = #{freeBoardContent},
			freeboardmapx = #{freeBoardMapX},
			freeboardmapy = #{freeBoardMapY}
		WHERE freeBoardNo = #{freeBoardNo}
	</update>
	
	<select id="selectFreeBoardRecommendByFreeBoardNoUserNo" parameterType="FreeBoard" resultType="int">
		SELECT count(*) FROM freeboardrecommend
		<where>
			AND freeBoardNo = #{freeBoardNo}
			AND userno = #{userNo}
		</where>
	</select>
	<delete id="deleteFreeBoardRecommendByFreeBoardNoUserNo" parameterType="FreeBoard" >
		DELETE FROM freeboardrecommend
		<where>
			AND freeBoardNo = #{freeBoardNo}
			AND userno = #{userNo}
		</where>
	</delete>
	
	<insert id="insertFreeBoardRecommendByFreeBoardNoUserNo" parameterType="FreeBoard" >
		INSERT INTO freeboardrecommend
		VALUES(#{freeBoardNo},#{userNo})
	</insert>
	
	<select id="getFreeBoardRecCountByFreeBoardNo" parameterType="FreeBoard" resultType="int">
		SELECT count(*) FROM freeboardrecommend
		WHERE freeBoardNo = #{freeBoardNo}
	</select>
	
	<select id="selectWriterId" resultType="string" parameterType="CafeRev">
		SELECT userid
		FROM CAFEREV c, MEMBER m
		<where>
			AND c.USERNO = m.USERNO 
			AND revno = #{revNo }
		</where>
	</select>
	
	<delete id="deleteCafeReviewByCafeNo" parameterType="CafeRev">
		DELETE CafeRev
		<where>
			AND revNo = #{revNo }
		</where>
	</delete>
	
	<update id="updateCafeReviewByCafeNo" parameterType="CafeRev">
		UPDATE CafeRev
		SET revContent = #{revContent }
			, revsp = #{revsp }
		<where>
			revNo = #{revNo }
		</where>
	</update>
	
	<select id="getNoticeTotalCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM NOTICE
		<where>
		
			<if test='search != "N" '>
				AND upper(TITLE) LIKE '%'||upper(#{search})||'%'
			</if>
		</where>
	</select>
	
	<select id="selectNoticeListAll" parameterType="hashmap" resultType="Notice">
		SELECT NOTICENO,TITLE,CONTENT,WIRTEDATE
		FROM (
			SELECT rownum r,a.* FROM(
				SELECT * FROM NOTICE 
				WHERE upper(TITLE) LIKE '%'||upper(#{search})||'%'
				ORDER BY NOTICENO DESC
				)a
			)
		WHERE r BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="getCafeReviewTotalCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM caferev cr
		JOIN cafe c ON c.cafeno = cr.cafeno
		<where>
			<if test='category != "N" '>
				AND cafeloc = #{category }
			</if>
			<if test='search != "N" '>
				AND upper(cafename) LIKE '%'||upper(#{search})||'%'
			</if>
		</where>
	</select>
	
	<delete id="deleteFreeBoardRecommendByFreeBoardNo">
		DELETE FROM freeboardrecommend
		WHERE freeboardno = #{freeBoardNo}
	</delete>
	
	<select id="selectBusinessNoByUserId" resultType="string" parameterType="string">
		SELECT businessNo FROM member
		<where>
			userId = #{userId }
		</where>
	</select>
	
	<select id="selectNoticeBtNoticeNo" resultType="Notice" parameterType="Notice">
		SELECT * FROM notice
		WHERE noticeno = #{noticeNo}
	</select>
	
	<select id="selectBusinessNoByCafeRevNo" resultType="string" parameterType="cafeRev">
		SELECT businessNo FROM cafe c
		JOIN caferev cr ON c.cafeno = cr.cafeno
		<where>
			cr.revno = #{revNo }
		</where>
	</select>
	
	<insert id="insertCafeReviewComm" parameterType="CafeRevComm">
		INSERT INTO caferevcomm
		VALUES ( cafeRevCommNo_seq.nextval, #{revNo }, #{userNo }, #{cafeCommCont }, null, sysdate )
	</insert>
	
	<select id="getMyRecipeTotalCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM myrecipe
		<where>
			<if test='search != "N" '>
				AND upper(myriptitle) LIKE '%'||upper(#{search})||'%'
			</if>
		</where>
	</select>
	
	<select id="selectMyRecipeListAll" parameterType="hashmap" resultType="MyRecipe">
		SELECT MYRIPNO,USERNO,MYRIPTITLE,MYRIPCONTENT,MYRIPHIT,MYRIPWRITEDATE,MYRIPIMGNO
		FROM (
			SELECT rownum r,a.* FROM(
				SELECT * FROM MYRECIPE
				WHERE upper(MYRIPTITLE) LIKE '%'||upper(#{search})||'%'
				ORDER BY MYRIPNO DESC
				)a
			)
		WHERE r BETWEEN #{paging.startNo} AND #{paging.endNo}
	</select>
	
	<select id="selectMemberByUserNo" parameterType="int" resultType="Member">
		SELECT * FROM MEMBER
		WHERE userno = #{userNo}
	</select>
	
	<select id="getMyRecipeNextVal" resultType="int">
		SELECT myrecipe_seq.nextval as a from dual
	</select>
	
	<insert id="insertMyRecipe" parameterType="MyRecipe">
		INSERT INTO myrecipe (MYRIPNO,USERNO,MYRIPTITLE,MYRIPCONTENT,MYRIPHIT,MYRIPWRITEDATE,MYRIPIMGNO,beanNo,beanName,extractionName,grindName,cupNoteName)
		VALUES (#{myRipNo},#{userNo},#{myRipTitle},#{myRipContent},0,sysdate,#{myRipImgNo},#{beanNo},#{beanName},#{extractionName},#{grindName},#{cupNoteName})
	</insert>
	
	<insert id="insertMyRecipeFile" parameterType="MyRecipeFile">
		INSERT INTO MyRecipeFile
		VALUES (MyRecipeFile_seq.nextval,#{myRipNo},#{myRipFileOriginName},#{myRipFileStoredName})
	</insert>
	
	<select id="selectMyRecipeByMyRecipeNo" resultType="MyRecipe" parameterType="MyRecipe">
		SELECT * FROM MYRECIPE m ,MYRECIPEFILE f
		<where>
			AND m.MYRIPNO = f.MYRIPNO(+)
			AND m.MYRIPNO = #{myRipNo}
		</where>
	</select>

	<select id="selectMemberQuizResultByUserNo" resultType="MemberQuizResult" parameterType="Member">
		SELECT * FROM MEMBER m,MEMBERQUIZRESULT q
		<where>
			AND m.USERNO = q.USERNO 
			AND m.USERNO = #{userNo}
		</where>
	</select>	
	
	<select id="selectQuizResultByMemberQuizResultNo" parameterType="MemberQuizResult" resultType="QuizResult">
		SELECT b.BEANNO,b.BEANNAME,c.CUPNOTENO, c.CUPNOTENAME,g.GRINDNAME,e.EXTRACTIONNAME,m.QUIZRESULT FROM MEMBERQUIZRESULT m ,BEANTASTE t ,CUPNOTE c ,QUIZRESULT q,BEAN b,GRIND g,EXTRACTION e 
		<where>
			AND m.QUIZRESULT = q.QUIZRESULTNO 
			AND q.BEANNO = b.BEANNO 
			AND b.BEANNO = t.BEANNO
			AND t.CUPNOTENO = c.CUPNOTENO 
			AND q.GRIND =g.GRINDNO 
			AND q.EXTRACTION = e.EXTRACTIONNO 
			AND m.QUIZRESULT = #{quizResult}
		</where>
	</select>
	
	<select id="selectCupNoteList" resultType="CupNote">
		SELECT * FROM CUPNOTE
		ORDER BY CUPNOTENO
	</select>
	
	<update id="updateMyRecipeHit" parameterType="MyRecipe">
		UPDATE myrecipe
		SET
			myriphit = myriphit +1
		WHERE myripno=#{myRipNo} 
	</update>
	
	<select id="selectMyRecipeFileByMyRipNo" parameterType="MyRecipe" resultType="MyRecipeFile">
		SELECT * FROM MYRECIPEFILE m 
		WHERE MYRIPNO = #{myRipNo}
	</select>
	<update id="updateMyRecipe" parameterType="MyRecipe">
		UPDATE MYRECIPE 
		SET 
			MYRIPTITLE = #{myRipTitle},
			MYRIPCONTENT = #{myRipContent}
		WHERE MYRIPNO = #{myRipNo}
	</update>
	
	<delete id="deleteMyRecipeFileByMyRipNo" parameterType="MyRecipe">
		DELETE FROM MYRECIPEFILE
		WHERE MYRIPNO = #{myRipNo}
	</delete>

<!-- 	event -->
	<select id="selectEventAllList" resultType="Event">
		SELECT EVENTNO, EVEORINAME, EVESTART, EVEEND, EVEIMG
		FROM EVENT
		ORDER BY EVENTNO DESC
	</select>

	<insert id="insertEventData" parameterType="Event">
		<selectKey order="BEFORE" keyProperty="eventNo" resultType="int"> 
			SELECT EVENT_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO EVENT(EVENTNO, EVEORINAME, EVESTART, EVEEND, EVEIMG)
		VALUES(#{eventNo}, #{eveOriName}, #{eveStart}, #{eveEnd}, #{eveImg})
	</insert>
	
	<select id="selectByEventNo" resultType="Event" parameterType="Event">
		SELECT EVENTNO, EVEORINAME, EVESTART, EVEEND, EVEIMG
		FROM EVENT
		<where>
			EVENTNO = #{eventNo}
		</where>
	</select>
	
	<delete id="deleteEventByEventNo" parameterType="Event">
		DELETE EVENT
		<where>
			EVENTNO = #{eventNo}
		</where>
	</delete>
	
	<select id="getCafeReviewCommentCnt" resultType="int" parameterType="cafeRev">
		SELECT count(*) FROM caferevcomm
		<where>
			AND revno = #{revNo }
		</where>
	</select>
	
	<delete id="deleteCafeReviewCommByCafeNo" parameterType="cafeRev">
		DELETE cafeRevComm
		<where>
			AND revNo = #{revNo }
		</where>
	</delete>
	
	<select id="getCafeRevNos" resultType="int">
		SELECT revno
		FROM caferev
		ORDER BY revno
	</select>
	
	<select id="selectUserNickByUserId" resultType="string" parameterType="string">
		SELECT usernick
		FROM member
		<where>
			userid = #{writerId }
		</where>
	</select>
	
	<select id="selectGrindAll" resultType="Grind">
		SELECT * FROM GRIND
		ORDER BY GRINDNO
	</select>
	
	<select id="selectExtractionAll" resultType="Extraction">
		SELECT * FROM EXTRACTION
		ORDER BY EXTRACTIONNO
	</select>
	<select id="selectBeanAll" resultType="BEAN">
		SELECT * FROM BEAN
		ORDER BY BEANNO
	</select>
	
	<select id="selectCupNoteByBeanNo" parameterType="Bean" resultType="CupNote">
		SELECT c.CUPNOTENO,c.CUPNOTENAME FROM CUPNOTE c, BEAN b,BEANTASTE t
		<where>
			AND b.BEANNO =t.BEANNO 
			AND c.cupnoteno = t.cupnoteno
			AND b.BEANNO = #{beanNo}
		</where>
	</select>
	<select id="selectBeanByBeanNo" parameterType="int" resultType="String">
		SELECT beanName FROM BEAN 
		WHERE BEANNO = #{beanNo}
	</select>
	
	<insert id="insertMyRecipeComment" parameterType="MyRecipeComment">
		INSERT INTO MYRECIPECOMMENT
		VALUES (MYRECIPECOMMENT_SEQ.nextval,#{myRipNo},#{userNo},#{myRipCommCont},#{myRipCommTag},#{userNick},sysdate,#{myRipCommNickTag})
	</insert>
	
	<select id="selectMyRecipeCommentListByMyRipNo" parameterType="MyRecipe" resultType="MyRecipeComment">
		SELECT * FROM MYRECIPECOMMENT
		WHERE MYRIPNO = #{myRipNo}
	</select>
	
	<select id="deleteMyRecipeComment" parameterType="MyRecipeComment">
		DELETE FROM MYRECIPECOMMENT
		WHERE myRipCommNo = #{myRipCommNo}
	</select>
	
	<select id="deleteMyRecipeReply" parameterType="MyRecipeComment">
		DELETE FROM MYRECIPECOMMENT
		WHERE myRipCommTag = #{myRipCommNo}
	</select>
	
	<select id="myRecipeRecCnt" parameterType="MyRecipeRecommend" resultType="int">
		SELECT count(*) FROM MYRECIPERECOMMEND
		<where>
			AND myRipNo = #{myRipNo}
			AND userNo = #{userNo}
		</where>
	</select>
	
	<select id="selectMyRecipeRecommendCountByMyRipNo" parameterType="MyRecipe" resultType="int">
		SELECT count(*) FROM MYRECIPERECOMMEND
		<where>
			AND myRipNo = #{myRipNo}
		</where>
	</select>
	
	<delete id="deleteMyRecipeRecommendByMyRipNoUserNo" parameterType="MyRecipeRecommend">
		DELETE FROM MYRECIPERECOMMEND
		<where>
			AND myRipNo = #{myRipNo}
			AND userNo = #{userNo}
		</where>
	</delete>
	
	<insert id="insertMyRecipeRecommendByMyRipNoUserNo" parameterType="MyRecipeRecommend">
		INSERT INTO MYRECIPERECOMMEND
		VALUES(#{myRipNo},#{userNo})
	</insert>
	
	<delete id="deleteMyRecipeRecommendByMyRipNo" parameterType="MyRecipeRecommend">
		DELETE FROM MYRECIPERECOMMEND
		<where>
			AND myRipNo = #{myRipNo}
		</where>
	</delete>
	
	<delete id="deleteMyRecipByMyRipNo" parameterType="MyRecipe">
		DELETE FROM MYRECIPE
		WHERE myripno = #{myRipNo}
	</delete>
	
	<select id="selectMyRecipeCommentCountByMyRipNo" parameterType="MyRecipe" resultType="int">
		SELECT count(*) FROM MYRECIPECOMMENT
		WHERE myripno = #{myRipNo}
	</select>
	
	<update id="updateFreeBoardCommentByCommentNo" parameterType="FreeBoardComment">
		UPDATE FREEBOARDCOMMENT
		SET
			commentcontent = #{commentContent}
		WHERE commentNo = #{commentNo}
	</update>
	
	<update id="updateMyRecipeCommentByCommentNo" parameterType="MyRecipeComment">
		UPDATE MYRECIPECOMMENT
		SET 
			myripcommcont = #{myRipCommCont}
		WHERE myripcommno = #{myRipCommNo}
	</update>
	
	<delete id="deleteCafeReviewCommByCafeRevCommNo" parameterType="CafeRevComm">
		DELETE caferevcomm
		<where>
			AND caferevcommno = #{cafeRevCommNo }
		</where>
	</delete>
	
	<update id="updateCafeReviewComm" parameterType="CafeRevComm">
		UPDATE caferevcomm
		SET cafecommcont = #{cafeCommCont }
		<where>
			caferevcommno = #{cafeRevCommNo }
		</where>
	</update>
	
	
	
	
	
	<select id="selectBeanReview" resultType="BeanRev" parameterType="hashmap">
		
		SELECT * 
		FROM (
		    SELECT rownum r, a.* 
		    FROM (
		        SELECT revno, br.beanno, br.userno, usernick, revcont, revhit, revdate, revstarpoint, beanname, cupnotename
		        FROM beanRev br
		        JOIN bean b ON br.beanno = b.beanno
		        JOIN MEMBER m ON m.userno = br.userno
		        JOIN beantaste bt ON br.beanno = bt.beanno
		        JOIN cupnote cn ON cn.cupnoteno = bt.cupnoteno
			       	<where>
						<if test="search != null">
							AND upper(beanname) LIKE '%'||upper(#{search})||'%'
						</if>
						<if test="category != null and category != '전체'">
							AND cupnotename = #{category }
						</if>
			       	</where>
			       	<choose>
			       		<when test='order == "recent"'>
			       			ORDER BY revno DESC
			       		</when>
			       		<when test='order == "star"'>
 							ORDER BY revstarpoint DESC, revno DESC
			       		</when>
			       		<otherwise>
			       			ORDER BY revno DESC
			       		</otherwise>
			       	</choose>
			    ) a
			) 
		<where>
			AND r BETWEEN #{paging.startNo } AND #{paging.endNo }
		</where>
		
	</select>
	
	<select id="getBeanReviewCommentCnt" resultType="int" parameterType="beanRev">
		SELECT count(*) FROM beanrevcomm
		<where>
			AND revno = #{revNo }
		</where>
	</select>
		
	<select id="getBeanReviewTotalCnt" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM beanrev br
        JOIN bean b ON br.beanno = b.beanno
        JOIN MEMBER m ON m.userno = br.userno
        JOIN beantaste bt ON br.beanno = bt.beanno
        JOIN cupnote cn ON cn.cupnoteno = bt.cupnoteno
   		<where>
			<if test='category != "N" '>
				AND cupnotename = #{category }
			</if>
			<if test='search != "N" '>
				AND upper(beanname) LIKE '%'||upper(#{search})||'%'
			</if>
		</where>
	</select>
	
	<select id="selectBeanReviewCommentList" parameterType="BeanRev" resultType="BeanRevComm">
		SELECT commno, revno, b.userno, commcont, commtag, commdate, usernick
		FROM beanrevcomm b
		JOIN MEMBER m ON b.userno = m.userno
		<where>
			AND revNo = #{revNo }
		</where>
		ORDER BY commno
	</select>
	
	<select id="selectBeanReviewInfo" parameterType="BeanRev" resultType="BeanRev">
		SELECT revno, br.beanno, userno, revcont, revhit, revdate, revstarpoint, beanname
		FROM beanrev br
		JOIN bean b ON br.beanno = b.beanno
		<where>
			AND revno = #{revNo }
		</where>
	</select>
	
	<select id="selectWriterIdByBeanRev" parameterType="BeanRev" resultType="string">
		SELECT userid
		FROM BEANREV b, MEMBER m
		<where>
			AND b.USERNO = m.USERNO 
			AND revno = #{revNo }
		</where>
	</select>
	
	<select id="getBeanRevNos" resultType="int">
		SELECT revno
		FROM beanrev
		ORDER BY revno
	</select>
	
	<select id="selectBusinessNoByBeanRevNo" resultType="string" parameterType="beanRev">
		SELECT businessNo FROM bean b
		JOIN beanrev br ON b.beanno = br.beanno
		<where>
			br.revno = #{revNo }
		</where>
	</select>
	
	<select id="selectBeanTasteName" resultType="BeanRev" parameterType="BeanRev">
		SELECT cupnotename
		FROM cupnote cn
		JOIN beantaste bt ON cn.cupnoteno = bt.cupnoteno
		<where>
			bt.beanno = #{beanNo }
		</where>
	</select>
	
	<select id="selectBeanNameByBeanNo" resultType="string" parameterType="int">
		SELECT beanName
		FROM bean
		<where>
			AND beanno = #{beanNo }
		</where>
	</select>
	
	<insert id="insertBeanReview" parameterType="BeanRev" >
		INSERT INTO beanrev (revNo, beanNo, subNo, userNo, revCont, revHit, revDate, revstarpoint)
		VALUES ( revNo_seq.nextval , #{beanNo }, #{subNo }, #{userNo }, #{revCont }, 0, sysdate, #{revStarPoint } )
	</insert>
	
	<delete id="deleteBeanReviewByBeanNo" parameterType="beanRev">
		DELETE beanRev
		<where>
			AND revNo = #{revNo }
		</where>
	</delete>
	
	<delete id="deleteBeanReviewCommByBeanNo" parameterType="beanRev">
		DELETE beanRevComm
		<where>
			AND revNo = #{revNo }
		</where>
	</delete>
	
	<select id="getBeanNoBySubNo" resultType="Integer" parameterType="Integer">
		SELECT beanno FROM beansub
		<where>
			AND subNo = #{subNo }
		</where>
	</select>
	
	<update id="updateBeanReviewByBeanNo" parameterType="BeanRev">
		UPDATE BeanRev
		SET revCont = #{revCont }
			, revstarpoint = #{revStarPoint }
		<where>
			revNo = #{revNo }
		</where>
	</update>
	
	<insert id="insertBeanReviewComm" parameterType="BeanRevComm">
		INSERT INTO beanrevcomm
		VALUES ( beanrevcomm_seq.nextval, #{revNo }, #{userNo }, #{commCont }, null, sysdate )
	</insert>
	
	<delete id="deleteBeanReviewCommByCommNo" parameterType="BeanRevComm">
		DELETE BeanRevComm
		where commno = #{commNo }
	</delete>
	
	<update id="updateBeanReviewCommByCommNo" parameterType="BeanRevComm">
		UPDATE beanrevcomm
		SET commcont = #{commCont }
		WHERE commno = #{commNo }
	</update>
	
	
	
</mapper>

















