<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.dao.face.CreateBeanDao">

	<insert id="insertBeanImg" parameterType="BeanImg">
		<selectKey order="BEFORE" keyProperty="beanImgNo" resultType="int">
			select beanImg_seq.nextval from dual
		</selectKey>
		INSERT INTO beanImg(BEANIMGNO, BEANORIGINNAME)
		VALUES(#{beanImgNo}, #{beanOriginName})
	</insert>
	
	<select id="selectByLatest" resultType="int">
		SELECT * from(
		SELECT beanimgno FROM beanimg
		ORDER BY beanimgno DESC
			)WHERE rownum = 1
	</select>
	
	<insert id="insertBeanData" parameterType="Bean">
		<selectKey order="BEFORE" keyProperty="beanNo" resultType="int">
			select bean_seq.nextval from dual
		</selectKey>
		INSERT INTO bean(BEANNO, BEANIMGNO, BEANNAME, ORIGIN
		, BEANCOMM, BEANINFO, BEANPRICE, BUSINESSNO, STATUS)
		VALUES(#{beanNo}, #{beanImgNo}, #{beanName}, #{origin}, #{beanComm}
		, #{beanInfo}, #{beanPrice}, #{businessNo}, 'Y')
	</insert>
	
	<insert id="insertBeanTaste" parameterType="BeanTaste">
		INSERT INTO BEANTASTE(BEANNO, CUPNOTENO)
		VALUES(#{beanNo}, #{cupNoteNo})
	</insert>
	
	<select id="selectByBeanNo" resultType="Bean" parameterType="int" >
		SELECT B1.BEANNO, B1.BEANIMGNO, B1.BEANNAME, B1.ORIGIN,
		B1.BEANCOMM, B1.BEANINFO, B1.BEANPRICE, B1.BUSINESSNO,
		B2.BEANIMGNO, B2.BEANORIGINNAME,
		B3.CUPNOTENO  
		FROM BEAN B1, BEANIMG B2, BEANTASTE B3
		<where>
			AND B1.BEANIMGNO = B2.BEANIMGNO
			AND B1.BEANNO = B3.BEANNO  
			AND B1.BEANNO = #{beanNo}
		</where>
	</select>
	
	<update id="updateBeanImg" parameterType="BeanImg">
		UPDATE BEANIMG
		<set>
			BEANORIGINNAME = #{beanOriginName}
		</set>
		<where>
			BEANIMGNO = #{beanImgNo}
		</where>
	</update>

	<update id="updateBeanData" parameterType="Bean">
		UPDATE BEAN
		<set>
			BEANNAME = #{beanName},
 			ORIGIN = #{origin},
 			BEANCOMM = #{beanComm},
 			BEANINFO = #{beanInfo},
 			BEANPRICE = #{beanPrice},
 			BUSINESSNO = #{businessNo}
		</set>
		<where>
			BEANNO = #{beanNo}
		</where>
	</update>
	
	<delete id="deleteByBeanTasteNo" parameterType="int">
		DELETE BEANTASTE
		<where>
			BEANNO = #{beanNo}
		</where>
	</delete>
	
	<update id="updateBeanStatusByBeanNo" parameterType="int">
		UPDATE BEAN
		SET STATUS =
			CASE 
      	      WHEN STATUS = 'Y' THEN 'N'
      	      WHEN STATUS = 'N' THEN 'Y'
     	   END
		WHERE BEANNO = #{beanNo}
	</update>
<!-- 	<delete id="deleteByBeanNo" parameterType="int"> -->
<!-- 		DELETE BEAN -->
<!-- 		<where> -->
<!-- 			BEANNO = #{beanNo} -->
<!-- 		</where> -->
<!-- 	</delete> -->
<!-- 	<delete id="deleteByBeanImgNo" parameterType="int"> -->
<!-- 		DELETE BEANIMG -->
<!-- 		<where> -->
<!-- 			BEANIMGNO = #{beanImgNo} -->
<!-- 		</where> -->
<!-- 	</delete> -->
	
</mapper>