<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.dao.face.CreateBeanDao">

	<insert id="insertBeanImg" parameterType="BeanImg">
		<selectKey order="BEFORE" keyProperty="beanImgNo" resultType="int">
			select beanImg_seq.nextval from dual
		</selectKey>
		INSERT INTO beanImg(BEANIMGNO, BEANORIGINNAME)
		VALUES(#{beanImgNo}, #{beanOriginName})
	</insert>
	
	<select id="selectByLatest" resultType="int">
		SELECT * from(
		SELECT beanimgno FROM beanimg
		ORDER BY beanimgno DESC
			)WHERE rownum = 1
	</select>
	
<!-- 	<insert id="insertCupNoteName" parameterType="CupNote"> -->
<!-- 		<selectKey order="BEFORE" keyProperty="cupNoteNo" resultType="int"> -->
<!-- 			select cupnote_seq.nextval from dual -->
<!-- 		</selectKey> -->
<!-- 		INSERT INTO CUPNOTE(CUPNOTENO, CUPNOTENAME) -->
<!-- 		VALUES(#{cupNoteNo}, #{cupNoteName}) -->
<!-- 	</insert> -->
	
	<insert id="insertBeanData" parameterType="Bean">
		<selectKey order="BEFORE" keyProperty="beanNo" resultType="int">
			select bean_seq.nextval from dual
		</selectKey>
		INSERT INTO bean(BEANNO, BEANIMGNO, BEANNAME, ORIGIN
		, BEANCOMM, BEANINFO, BEANPRICE, BUSINESSNO)
		VALUES(#{beanNo}, #{beanImgNo}, #{beanName}, #{origin}, #{beanComm}
		, #{beanInfo}, #{beanPrice}, #{businessNo})
	</insert>
	
	<insert id="insertBeanTaste" parameterType="BeanTaste">
		INSERT INTO BEANTASTE(BEANNO, CUPNOTENO)
		VALUES(#{beanNo}, #{cupNoteNo})
	</insert>
	
	<update id="updateBeanImg" parameterType="BeanImg">
		UPDATE BEANIMG
		<set>
			BEANORIGINNAME = #{beanOriginName}
		</set>
		<where>
			BEANIMGNO = #{beanImgNo}
		</where>
	</update>
	
	<update id="updateCupNoteName" parameterType="CupNote">
		UPDATE CUPNOTE
		<set>
			CUPNOTENAME = #{cupNoteName}
		</set>
		<where>
			CUPNOTENO = #{cupNoteNo}
		</where>
	</update>
	
	<update id="updateBeanData" parameterType="Bean">
		UPDATE BEAN
		<set>
			BEANNAME = #{beanName},
 			ORIGIN = #{origin},
 			BEANCOMM = #{beanComm},
 			BEANINFO = #{beanInfo},
 			BEANPRICE = #{beanPrice},
 			BUSINESSNO = #{businessNo}
		</set>
		<where>
			BEANNO = #{beanNo}
		</where>
	</update>
	
	<delete id="deleteByBeanNo" parameterType="int">
		DELETE TABLE BEAN
		<where>
			BEANNO = #{beanNo}
		</where>
	</delete>
	
	<delete id="deleteByBeanImgNo" parameterType="int">
		DELETE TABLE BEANIMG
		<where>
			BEANIMGNO = #{beanImgNo}
		</where>
	</delete>
	
	<delete id="deleteByCupNoteNo" parameterType="int">
		DELETE TABLE CUPNOTE
		<where>
			CUPNOTENO = #{cupNoteNo}
		</where>
	</delete>
	
</mapper>