<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="web.dao.face.QuizDao">
	
	<select id="selectUserNoByUserId" parameterType="String" resultType="Member">
		SELECT userno
		FROM member
		<where>
		AND		userid = #{ userId }
		</where>
	</select>
	
	<insert id="insertQuizResult" parameterType="QuizResult">
		<selectKey order="BEFORE" resultType="int" keyProperty="quizResultNo">
			SELECT quizresult_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO quizresult ( quizresultno, grind, extraction )
		VALUES ( #{ quizResultNo }, #{ grind }, #{ extraction } )
	</insert>
	
	<select id="selectBeanByCupnoteNo" parameterType="QuizResult" resultType="Bean">
		SELECT * FROM (
		SELECT rowNum rNum, b.* FROM (
			    SELECT
			        b.beanno, b.beanimgno, beanname, origin,
			        bi.beanoriginname, beanstoredname,
			        bt.CUPNOTENO, q.QUIZRESULTNO,
			        ROW_NUMBER() OVER (PARTITION BY b.beanNo ORDER BY bt.CUPNOTENO) AS rn
				FROM bean b
			    LEFT JOIN beantaste bt ON b.beanno = bt.beanno
			    LEFT JOIN QUIZRESULT q ON q.beanNo = b.beanno
			    LEFT JOIN beanImg bi ON b.beanimgno = bi.beanimgno
			    <where>
	                bt.cupnoteno IN
	                <foreach collection="cupNoteNoQuiz" item="cupNoteNo" open="(" separator="," close=")">
	                    #{cupNoteNo}
	                </foreach>
        		</where>
			ORDER BY beanNo desc
			) b
		) bean
		<where>
		AND		rnum &lt;= 3
		</where>
		ORDER BY rnum
	</select>
	
	<update id="updateBeanNoByQuizResultNo" parameterType="QuizResult">
		UPDATE	quizresult
		SET		beanNo = ${ beanNo }
		WHERE	quizResultNo = #{quizResultNo}
	</update>
	
	<insert id="insertMemberQuizResult" parameterType="Hashmap">
		INSERT INTO memberquizresult ( quizresult, userNo )
		VALUES ( ${ quizResult }, ${ userNo } )
	</insert>
	
</mapper>